* {
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
    text-align: center; }

#instructions {
    margin: 20px;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
}

row1 {
	display: flex;
	justify-content: center;
}
row2 {
	display: flex;
	justify-content: center;
}

row3 {
	display: flex;
	justify-content: center;
}

.box {
    background-color: #9ffff8;
	border: 1px solid white;
    border-radius: 5%;
	width: 100px;
	height: 100px;
	font-size: 100px;
	text-align: center;
	line-height: 85px; 
}

box { margin: 0 auto; }

#instructions { 
    margin-bottom: 20px;
    text-align: center; }

.card {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    margin: auto;
    text-align: center;
    background-color: #fc6a6a;
    text-align: center;
    height: 250px;
    width: 480px;
    box-shadow: 0px 5px 20px -4px;
}

.card h2 {
    margin: 20px 0 90px;
}

.hide {
    display: none;
}

button {
    width: 100px;
    margin-top: 15px;
    padding: 5px;
    background-color: #00a1c7;
    color: white;
}
